# ST_LMS Core Environment
ST_LMS_ENV=SIMULATION        # SIMULATION | TESTNET | LIVE

# Binance API (LIVE)
BINANCE_API_KEY=
BINANCE_API_SECRET=

# Binance Testnet
BINANCE_TESTNET_API_KEY=
BINANCE_TESTNET_API_SECRET=
